* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* BODY */
.body {
  background-image: url("../img/fondo1.png");
  background-size: 100%;
  max-width: 100%;
  max-height: 100%;
  background-repeat: repeat-y, repeat-x;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

.fondo-star {
  width: 100%;
  height: 100%;
  z-index: 0;
}

/* NAVBAR */
.navbar__logo {
  transition: 0.3s;
  object-fit: cover;
}

.navbar__logo:hover {
  transform: scale(1.2);
}

.navbar {
  background-color: #0679de;
  opacity: 80%;
  width: 100%;
  position: fixed;
  z-index: 5;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

/* BOTON INDEX */
.h1 {
  font-size: 4em;
}

/* BOTON INDEX */
.btnindex {
  color: #ffffff;
  font-weight: normal;
  font-size: 70%;
  text-shadow: 1px 1px 1px #000000;
  text-decoration: none;
}

.boton.index {
  background: rgba(6, 121, 222, 0.5490196078);
  color: #ffffff;
  padding: 1rem 1rem 1rem 1rem;
  font-size: 1.5em;
  border: #ffffff;
  border-bottom-left-radius: 3rem;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
  border-top-left-radius: 3rem;
  box-shadow: 1px 1px 20px 20px #ffffff;
  position: absolute;
  z-index: 5;
}

.boton.index svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.boton.index rect {
  width: 100%;
  height: 100%;
  stroke: #ffffff;
  stroke-width: 10px;
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  transition: 0.6s ease all;
}

.boton.index:hover rect {
  stroke-dashoffset: 0;
}

/* ARIVE */
.pie {
  box-shadow: 0px 0px 6px 3px #ffffff;
  border: 3px solid #ffffff;
  background-color: #000000;
  overflow: hidden;
}

.pie img {
  transition: 0.3s;
  object-fit: cover;
}

.pie img:hover {
  transform: scale(1.1);
}

.pie:hover {
  background-color: rgba(6, 121, 222, 0.5490196078);
}

.pie {
  text-align: start;
  text-shadow: 2px 2px 5px rgb(147, 147, 147);
}

.formulario {
  position: relative;
  top: 10rem;
}

.titulo-nosotros {
  position: relative;
  top: 5rem;
}

.footer-nosotros {
  position: relative;
  top: 10rem;
}

.titulo-armeria {
  position: relative;
  top: 5rem;
}

.imagen-carousel {
  width: 50vh;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
}

.titulo-areas {
  position: relative;
  top: 5rem;
}

.enrolamiento {
  padding: 2rem 2rem 2rem 2rem;
  border-bottom-left-radius: 6rem;
  border-top-right-radius: 6rem;
  border-bottom-right-radius: 6rem;
  border-top-left-radius: 6rem;
  background-color: #0679de;
}

.titulo-contacto {
  position: relative;
  top: 5rem;
}

.sable1 {
  width: 30vh;
  position: relative;
  top: 2.9rem;
  right: 5.6em;
  z-index: 1;
}

.textarea {
  position: relative;
  top: 1em;
  left: 4em;
  width: 70VW;
  max-height: 25px;
  max-width: 800px;
  min-width: 100px;
  z-index: 0;
  color: black;
  font-size: 10pt;
  background-color: rgb(249, 190, 190);
  box-shadow: 1px 1px 25px 20px rgb(255, 0, 0);
  border: none;
  border-bottom-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-top-left-radius: 1rem;
  resize: none;
  overflow: hidden;
}

.textarea {
  animation-name: textarea;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: normal;
}

/* ANIMACION SABLE*/
@keyframes textarea {
  0% {
    transform: translateX(-50%) scaleX(0%);
  }
  100% {
    transform: translateX(0%) scaleX(100%);
  }
}
.enviar {
  color: black;
  padding: 0.4rem;
  border-bottom-left-radius: 3rem;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
  border-top-left-radius: 3rem;
  font-size: 1rem;
  text-shadow: 0px 1px 1px black;
  position: relative;
  top: 5rem;
  cursor: pointer;
  background-color: rgb(249, 190, 190);
  box-shadow: 1px 1px 20px 20px rgb(255, 0, 0);
  border: none;
}

.fotos {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 10rem;
}

.foto-palpatine {
  width: 100%;
  height: auto;
  position: relative;
  padding: 20px;
  background-color: rgb(21, 21, 21);
}

.foto-vader {
  width: 100%;
  height: auto;
  position: relative;
  padding: 20px;
  background-color: rgb(21, 21, 21);
} /* agregar extend de foto-palpatine*/
.contacto-info {
  position: relative;
  top: 8rem;
}

.videos {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 12rem;
}

.video1 {
  padding: 20px;
  background-color: rgb(21, 21, 21);
}

.video2 {
  padding: 20px;
  background-color: rgb(21, 21, 21);
}

/* footer */
.logoinsta {
  width: 80px;
  height: 80px;
}

.logoface {
  width: 80px;
  height: 80px;
}

.logowpp {
  width: 80px;
  height: 80px;
}

.controles {
  opacity: 50%;
  padding: 0px;
  position: fixed;
  top: 91%;
}

/*# sourceMappingURL=style.css.map */
