// PAGINA NUMERO 4 "AREAS DE DESPLIEGUE"


.titulo-areas {
    position: relative;
    top: 5rem;
  }
  
.enrolamiento {
    padding: 2rem 2rem 2rem 2rem;
    border-bottom-left-radius: 6rem;
    border-top-right-radius: 6rem;
    border-bottom-right-radius: 6rem;
    border-top-left-radius: 6rem;
    background-color: #0679de;
  }

.sistemas {
  color: $color-blanco;
}