// PAGINA NUMERO 3 "ARMERIA IMPERIAL"


.titulo-armeria {
    position: relative;
    top: 5rem;
  }
  
  .imagen-carousel {
    width: 50vh;
  }
  
  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); 
  }