// PAGINA NUMERO 5 "CONTACTO"

.titulo-contacto {
    position: relative;
    top: 5rem;
  }
  
  
  
  .sable1 {
  width: 30vh;
  position: relative;
  top: 2.9rem;
  right: 5.6em;
  z-index: 1;
  }
  
  
  
  .textarea {
  @include color-negro;
  @include color-rosa-sable;
  @include color-rojo-sable;
  position: relative;
  top: 1em;
  left: 4em;
  width: 70VW;
  max-height: 25px;
  max-width: 800px;
  min-width: 100px;
  z-index: 0;
  font-size: 10pt;
  border: none;
  border-bottom-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-top-left-radius: 0rem;
  resize: none;
  overflow: hidden;
  }
  
  
  .textarea {
  animation-name: textarea;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: normal;
  }
  
  /* ANIMACION SABLE*/
  
  @keyframes textarea{
  
  0%{
    transform: translateX(-50%)
                scaleX(0%);
  }
  
  100%{
    transform: translateX(0%)
                scaleX(100%);
  }
  }
  
  
  .enviar {
  @include color-negro;
  @include color-rosa-sable;
  @include color-rojo-sable;
  padding: 0.4rem;
  border-bottom-left-radius: 3rem;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
  border-top-left-radius: 3rem;
  font-size: 1rem;
  text-shadow: 0px 1px 1px black;
  position: relative;
  top: 5rem;
  border: none;
  
  }
  
  
  .fotos {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 10rem;
  }
  
  
  .foto-palpatine {
    width: 100%;
    height: auto;
    position: relative;
    padding: 20px;
    background-color: rgb(21, 21, 21);
  }
  
  .foto-vader {
    @extend .foto-palpatine;
  }
  
  .contacto-info {
    position: relative;
    top: 8rem;
  }
  
  .videos {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 12rem;
  }
  
  
  .video1 {
    padding: 20px;
    background-color: rgb(21, 21, 21);
  }
  
  .video2 {
    @extend .video1;
  }
  
  

   @media screen and (min-width: 350px) and (max-width: 550px){



    .sable1 {
      width: 50vw;
      position: relative;
      top: 1.9rem;
      right: 7.8em;
      z-index: 1;
      }


    .textarea {
      position: static;
    }

  }
