// FOOTER


.logoinsta {
    width: 80px;
    height: 80px;
  }
  
  .logoface {
    width: 80px;
    height: 80px;
  }
  
  .logowpp {
    width: 80px;
    height: 80px;
  }

  .controles {
    opacity: 50%;
    padding: 0px;
    position: fixed;
    top: 91%;
  }