// PAGINA NUMERO 2 "SOBRE NOSOTROS"

.formulario {
    position: relative;
    top: 10rem;
  }
  
  .titulo-nosotros {
    position: relative;
    top: 5rem;
  }
  
  
  .footer-nosotros {
    position: relative;
    top: 10rem;
  }
  