/* Variables */
$color-celeste: #0679de;
$color-negro: #000;
$color-blanco: #fff;
$color-gris:  rgb(21, 21, 21);
$color-rojo: rgb(255, 0, 0);
$color-rosa: rgb(249, 190, 190);

//mapa
$colors: (
    "color-celeste": #0679de,
    "color-negro": #000,
    "color-blanco": #fff,
    "color-gris": rgb(21, 21, 21),
    "color-rojo":  rgb(255, 0, 0),
    "color-rosa":  rgb(249, 190, 190)
);